/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
      
/* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}
.wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid black;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-col {
    flex-direction: column;
}

/* Add your favorite button style from the Button Up assignment and call it .btn */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(42,119,229);
    color: whitesmoke;
    padding: 10px;
    border: 3px solid black;
    box-shadow: 3px 3px 0px black;
    font-weight: lighter;
    cursor: pointer;
}

/* Add .row and .col classes from the FLEX-Ible Columns assignment */
.row {
    display: flex;
}
.col {
    background-color: #659DA1;
}
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.spacer {
    width: 50px;
}

/* Add the .navbar class(es) from the Flex Navbar assignment */
.nav {
    display: flex;
    width: 70%;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    background-color: #323233;
    color: white;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    font-size: 30px;
}
.nav-links {
    display: flex;
    align-items: center;
}
li {
    margin-left: 30px;
    list-style-type: none;
}
li > a {
    color: rgba(190,190,190, 60%);
}
.active {
    color: white;
}

/* Continue adding any cool classes that you have made / will make */
.banner {
    background-color: rgba(0,0,0,80%);
    padding: 15px 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search {
    display: flex;
    margin-top: 50px;
    width: 10em;
    height: 1.75em;
    color: rgb(57,169,169);
    border: 2px solid rgb(57,169,169);
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 20px;
    font-weight: bold;
}